/* Website font from Google */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Boiler Tamplate */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

img{
    max-width: 100%;
}

/* Reusable Components */
:root{
    --heading-color: #000;
    --paragraph-color: #727272;
    --btnBackground: #FF900E;
    --background: #ff8f0e1f;
    --text-color: #fff;
}

.container{
    width: 71.26rem;
    margin: 0 auto;
    padding: 3.125rem 0;
}

.title{
    font-weight: 600;
    font-size: 4rem;
    /* line-height: 4.6rem; */
}

.subtitle{
    font-weight: 600;
    font-size: 3.4rem;
    /* line-height: 3.6rem; */
}

.inner-title{
    font-size: 3rem;
    font-weight: 600;
}

.inner-subtitle{
    font-size: 2rem;
    font-weight: 600;
}
.text{
    font-size: 1rem;
    line-height: 1.6rem;
    color: var(--paragraph-color);
}

.text-center{
    text-align: center;
}

.flex{
    display: flex;
}

.gap{
    gap: 1.5rem;
}

.item-center{
    align-items: center;
}

.content-between{
    justify-content: space-between;
}

.content-around{
    justify-content: space-around;
}

.content-center{
    justify-content: center;
}

.col-dir{
    flex-direction: column;
}

.grid{
    display: grid;
}

.col2{
    grid-template-columns: repeat(2, 1fr);
}

.col3{
    grid-template-columns: repeat(3, 1fr);
}

.btn{
    background-color: var(--btnBackground);
    padding: 1.2rem 1.5rem;
    color: var(--text-color);
    font-size: 1.3rem;
    border-radius: .5rem;
}

.shadow{
    box-shadow: -2px 2px 15px 2px rgba(43,41,41,0.21);
}